.Home-Style {
    position: relative;
    max-width: 1fr;
    margin: 0 auto;
}

.Image-Container {
    position: relative;
    max-width: 1fr; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.Image-Container .Img-text-background {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    height: 100%;
    padding: 0; /* Some padding */
    text-align: center;
}

.img-text {
    position: absolute; /* Membuat konten berada di atas gambar */
    top: 50%; /* Posisikan di tengah vertikal */
    left: 50%; /* Posisikan di tengah horizontal */
    transform: translate(-50%, -50%); /* Pusatkan konten dengan transform */
    width: 80%;
}

.kgts-background {
    width: 100%;
}

.Home-MainText {
    display: block;
    max-width: 1fr; /* Maximum width */
    margin: 50px auto; /* Center it */
    text-align: center;
    width: 80%;
    color: white;
}

.Tabel-proker-container {
    display: flex;
    flex-direction: column; /* Membuat elemen tampil dalam kolom vertikal */
    gap: 20px; /* Jarak antar item */
    margin: auto;
    width: 100%; /* Atur lebar kontainer sesuai kebutuhan */
    max-width: 800px; /* Batas lebar maksimum */
}

.Tabel-proker {
    display: flex; /* Agar gambar dan deskripsi bisa bersebelahan */
    align-items: center; /* Agar gambar dan deskripsi sejajar secara vertikal */
    gap: 20px; /* Jarak antara gambar dan deskripsi */
    background-color: blue; /* Warna latar belakang */
    padding: 10px;
    border-radius: 10px;
}

.proker-background {
    width: 100px; /* Lebar gambar */
    height: 100px; /* Tinggi gambar (rasio 1:1) */
    object-fit: cover; /* Agar gambar menyesuaikan kontainer */
    border-radius: 5px;
}

.proker-deskripsi {
    color: white;
    text-align: left;
    font-size: 16px;
}
