.Navigation-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1fr;
  height: 60px;
  min-width: 360px;
  background-color: rgb(33, 33, 200);
  margin: 0;
  padding: 0 10px; /* Tambahkan padding jika diperlukan untuk memberikan ruang */
}

.Top-nav-left {
  display: flex;
  align-items: center;
}
.Top-nav-right {
  align-items: center;
  padding-right: 20px;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(33, 33, 200);;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.Tombol-Menu {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.Kamiku_Image {
  height: 50px;
  cursor: pointer; /* Menambahkan kursor pointer untuk interaksi lebih baik */
}

.Tulisan_Kamiku {
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 10px; /* Berikan margin antar elemen */
  list-style-type: none;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00b947;
}